::ng-deep .markdown-content {
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
    }

    ol {
        list-style-type: decimal;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
    }
}