<section class="profile-settings">


  <div *ngIf="loading" class="state">Loading your profile.</div>
  <div *ngIf="!loading && error" class="state state--error">{{ error }}</div>

  <ng-container *ngIf="doctorProfile && !loading">
    <app-doctor-basic-info [profile]="doctorProfile" (updated)="handleProfileUpdated()"></app-doctor-basic-info>

    <app-doctor-degree-details [doctorId]="doctorProfile.id ?? null" [degrees]="doctorProfile.degrees"
      (updated)="handleProfileUpdated()"></app-doctor-degree-details>

    <app-doctor-specializations [doctorId]="doctorProfile.id ?? null" [specialityId]="doctorProfile?.specialityId ?? null"
      [specializations]="doctorProfile.doctorSpecialization"
      (updated)="handleProfileUpdated()"></app-doctor-specializations>
<div class=" flex w-full gap-6">

  <app-doctor-documents class="flex-1" [doctorId]="doctorProfile.id ?? null"
    (updated)="handleProfileUpdated()"></app-doctor-documents>

  <app-experience class="flex-1" (saveDoc)="saveExperience($event)" [getDocs]="experience"></app-experience>
</div>

  </ng-container>
</section>