@if (isHeader) {
<section class="flex flex-col gap-4 font-Roboto text-brand-neutral">
  <div class="flex justify-between">
    <div class="">
      <p class="text-[10px] uppercase tracking-[0.5em] text-brand-neutral/60">Physician</p>
      <h1 class="text-lg text-brand-primary font-Roboto">{{ doctor?.doctorName || 'Name not updated' }}</h1>
      @if (doctor?.qualification) {
      <p class="text-[13px]">{{ doctor.qualification }}</p>
      }
      @if (doctor?.degree?.length) {
      <ul class=" text-[13px]">
        @for (item of doctor.degree; track $index) {
        <li>
          {{ item.degreeName }}
          @if (item.instituteName || item.instituteCity) {
          <span>- {{ item.instituteName }}, {{ item.instituteCity }}</span>
          }
        </li>
        }
      </ul>
      }
      @if (doctor?.areaOfExperties) {
      <p class="text-sm">{{  doctor.areaOfExperties }}</p>
      }
      <div class="experience" [innerHTML]="experience"></div>
    </div>

    <div>
      <p class="text-[10px] uppercase tracking-[0.5em] text-brand-neutral/60 mb-2">Chamber</p>
      @if (doctor?.chamber?.length) {
      <div class="space-y-2 ">
        @for (item of doctor.chamber; track $index) {
        <div class="text-sm">
        <p class="block text-[14px] ">{{ item.chamberName }}</p>
        <span class="text-brand-neutral/70 text-[12px]">{{ item.address }}, {{ item.city }} {{ item.zipCode }}</span>
        </div>
        }
      </div>
      } @else {
      <p class="text-sm">
        <strong class="block text-base font-semibold">Prescripto Online</strong>
      </p>
      <p class="text-brand-neutral/70 m-0">+880 1874 303208</p>
      <p class="text-brand-neutral/70 m-0">info&#64;prescripto.com</p>
      }
    </div>


  </div>


  @if (doctor?.schedule?.length) {
  <div class="flex flex-wrap items-center gap-3 text-sm">
    <span class="uppercase tracking-[0.3em] text-[10px] text-brand-neutral/60">Visiting hours</span>
    <ul class="flex flex-wrap gap-3">
      @for (item of doctor.schedule; track $index) {
      <li class=" pb-0.5">
        {{ item.start !== item.end ? item.start + ' - ' + item.end : item.start }}
        <strong class="pl-2 text-brand-neutral/80">{{ item.startTime }} - {{ item.endTime }}</strong>
      </li>
      }
    </ul>
  </div>
  }
</section>
}