 <router-outlet></router-outlet> 
 <app-chatbot></app-chatbot> 
  <!-- <iframe
    src="https://cdn.commercegenie.com/dev/genie/genieChatBot.html?em=true&v=171214"
    frameborder="0"
    id="cg-chatbot-frame"
    class="cg-chatbot-frame cg-chatbot-frame-em"
    title="Genie Assistant"
    role="complementary"
    data-chatbot-version="1.0"
    allow="microphone; clipboard-read; clipboard-write; autoplay"
    sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation allow-modals">
</iframe> -->
<!-- <div class=" w-[500px] h-[600px]">
    <iframe
    src="https://cdn.commercegenie.com/dev/genie/genieChatBot.html?em=true"
    frameborder="0"
    id="cg-chatbot-frame"
    class="cg-chatbot-frame cg-chatbot-frame-em"
    title="Genie Assistant"
    role="complementary"
    data-chatbot-version="1.0"
    allow="microphone; clipboard-read; clipboard-write; autoplay"
    sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation allow-modals">
</iframe>
</div> -->